POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
INTEL_MCP_DB=intel_mcp_db
MISTRAL_LIBRARY_ID=019f561a-b2e6-7552-b9fe-1215aec0f20c
MISTRAL_API_KEY=
MCP_HOST=127.0.0.1
MCP_PORT=8010
